form {
  padding: 5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input,
.form-container select {
  margin-bottom: 1.5rem;
}

fieldset {
  padding: 1rem;
}

.form-container {
  position: relative;
}

fieldset span {
  position: absolute;
  bottom: 3px;
  font-size: small;
}

input:required {
  border: 1px solid black;
}

input.invalid {
  background-color: rgb(250, 236, 238);
  border: 1px solid red;
}

input.valid {
  background-color: rgb(235, 255, 235);
}
